<!DOCTYPE html>
<html>
<head>
  <title>SUPER BLOG</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

</head>

<body>
<div class="bg-dark text-white d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal"><%= link_to "SUPER BLOG", home_path, :class => "text-white" %></h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <% if logged_in? %>
      <span>Привет, мой узкоглазый друг <%= link_to current_user.name, '/users/'+current_user.id.to_s %>!</span>
    <%end %>
    <span class=""><%= link_to "Главная страница", home_path, :class => "btn btn-dark" %></span>
    <span class=""><%= link_to "О нас", about_path,  :class => "btn btn-dark" %></span>
  </nav>
  <% if logged_in? %>
    <span class=""><%= link_to "Добавление поста", new_post_path, :class => "btn btn-dark" %></span>
    <span class=""><%= link_to "Выход", logout_path , method: "get", :class => "btn btn-dark" %></span>
<% else %>
    <span class=""><%= link_to "Вход", login_path, :class => "btn btn-dark" %></span>
    <span class=""><%= link_to "Регистрация", signup_path, :class => "btn btn-dark" %></span>
  <% end %>
</div>
<div class ="container">
  <%= yield %>
</div>
</body>
</html>
