<!DOCTYPE html>
<html>
<head>
  <title>SUPER BLOG</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

</head>

<body>
<div class="bg-dark text-white d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">SUPER BLOG</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <span class=""><%= link_to "Главная страница", home_path, :class => "btn btn-dark" %></span>
    <span class=""><%= link_to "О нас", about_path,  :class => "btn btn-dark" %></span>
  </nav>
  <span class=""><%= link_to "Добавление поста", new_post_path, :class => "btn btn-dark" %></span>
</div>
<div class ="container">
  <%= yield %>
</div>
</body>
</html>
